/* 定位开始 */
.gddw{
    background-color: #918888;
	width:34px ;
	height:auto;
	position: fixed;
	left: 8px;
	top: 80px;
	z-index: 9999;
	line-height: 14px;
}
.gddw li{
	width: 34px;
	height: 32px;
	text-align: center;
	border-top: 1px solid #b1aaaa;
	cursor: pointer;
	padding: 4px 0;
	color: #fff;
	font-size: 12px;
}
.gddw li:hover{
	background-color: #D70B1C;
}
.gddw li:nth-child(6) a{
	line-height: 27px;
}
.gddw li:nth-child(1){
	background-color: #D70B1C;
}
.gddw li:last-child{
	background-color: #5E4A4A;
}
.gddw-right{
	width: 6px;
	height: 100%;
	background-color:#7a6e6e;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
}
.dwdwdw{
	width: 35px;
	height: 216px;
	position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -113px;
    z-index: 9999;
}
.dwdwdw2{
	width: 35px;
	position: absolute;
    bottom: 0;
    left: -29px;
    width: 35px;
    z-index: 9999;
}
.dwdwdw li,.dwdwdw2 li{
	width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    margin-top: 1px;
    background-color: #7a6e6e;
    border-radius: 3px 0 0 3px;
    text-align: center;
}
.dwdwdw li a,.dwdwdw2 li a{
	line-height: 35px;
	color: #fff;
	font-size: 20px;
}
.dwdwdw2 li a:last-child{
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 3px 0;
	background-color:#D70B1C;
	border-radius: 3px 0 0 3px; 

}
.dwdwdw li:hover,.dwdwdw2 li:hover{
	background-color: #D70B1C;
}
.dwdwdw-1{
	width: 62px;
    height: 35px;
    line-height: 35px;
    color:#fff;
    text-align: center;
    position: absolute;
    left:0px;
    top: 0px;
    z-index: -1;
    font-size: 12px;
    cursor: pointer;
    background-color:#d70b1c;
    border-radius: 3px 0px 0px 3px;
    transition: all 0.3s linear 0.2s;
}
.dwdwdw-2{
	width: 40px;
}
.dwdwdw li:hover .dwdwdw-1{
	left:-60px;
}
.dwdwdw2 li:hover .dwdwdw-2{
	left:-39px;
}
/* 定位结束 */
.top-input1{
	width: 100%;
	height: 48px;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: #fff;
    border-bottom: 2px solid #f10214; 
   /*  display: none;  */
}
.top-input2{
	width: 1190px;
	height: 40px;
	padding-top: 8px;
	margin: 0 auto;
}
.top-input3{
	width: 125px;
	height: 40px;
	background:url("../img/tttppp.png");
	background-size:125px 40px; 
	float: left;
	outline: none;
}
.top-input4 {
	margin-left: 320px;
	width: 550px;
	height: 35px;
	float: left;
	outline: none;
}
.top-input4>input{
	width: 500px;
	height: 35px;
	float: left;
	border-color: #efefef;
    background-color: #efefef;
    display: block;
    border: 0;
    outline: none;
}
.top-input4 .button{
    width: 50px;
    height: 37px;
    background: #f10215;
    border: 0;
    float: right;
    outline: none;
}
/* .top-input:hover .top-input1{
	display: block;
} */